/* COMMON STYLES */

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    color: inherit;
text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-paddings {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* /COMMON STYLES */

/* HEADER STYLES */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}


.address-list {
    display: flex;
    gap: 40px;
}



.menu-link, .address-link {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.logo-different-color{
    color: #2e2f42;
}

.menu-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.menu-link.current {
    position: relative;
    color: #404bbf
}

.menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


.menu-link:hover,
.menu-link:focus,
.menu-link:active {
    color: #404bbf;
}

.address-info {
    font-style: normal;
}


.address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;

}

/* /HEADER STYLES */

/* HERO SECTION STYLES */

/* first section */

.first-section {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/peopleoffice.jpg');
        background-color: #2e2f42;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
}


.first-section-header {
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
}

.button-order-service {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        text-align: center;
}

.button-order-service {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404bbf;
}


/* /first section */

/* second section */

.benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
}


.benefits-list {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: nowrap;
} 


.benefits-item {
    width: calc((100% - 72px)/4);
}

.benefits-header {
    color: #2e2f42;
}

.benefit-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.benefit-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.benefits-item-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}


/* /second section */

/* third section */

.team-section {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}


.team-header {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}


.team-item {
    width: calc((100% - 72px) /4);
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border: none;
    border-radius: 0 0 4px 4px;
}


.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
        margin-right: auto;
        margin-left: auto;
}

.team-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-right: auto;
            margin-left: auto;
}

.container-team-name {
    padding-top: 32px;
    padding-bottom: 32px;
}

.social-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    stroke:#f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-links-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-icon {
    fill: #f4f4fd;
}

/* /third section */

/* fourth section */

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}


.portfolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-item {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    align-items: center;
}

.portfolio-text {
border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-header {
    margin-bottom: 72px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.portfolio-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        align-items: flex-start;
        margin-bottom: 8px;
}

.portfolio-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        align-items: flex-start;
}

.portfolio-overlay-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 296px;
}

.portfolio-image-overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-overlay-wrapper:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

/* /fourth section */

/* /HERO SECTION STYLES */

/* FOOTER SECTION STYLES */

.footer-section {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}



.page-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo-container {
    margin-right: 120px;
}

.logo-different-color-footer{
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}

.footer-social-links-header {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-social-links-list {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    stroke: #f4f4fd;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-link-icon {
    fill: #f4f4fd;
}

/* /FOOTER SECTION STYLES */

/* MODAL WINDOW SECTION STYLES */

.modal-backdrop {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
}

.modal {
    position: relative;
    width: 408px;
    height: 80%;
    max-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    overflow: auto;
    padding: 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    fill: #2e2f42;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    padding: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: white; 
}

.modal-header {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 16px;
}

.feedback-form-field-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.feedback-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        padding-left: 38px;
        font-weight: 400;
            font-size: 12px;
            line-height: 1.16667;
            letter-spacing: 0.04em;
            color: #2e2f42;
}

.feedback-form-field-wrapper {
    margin-bottom: 8px;
}

/* /MODAL WINDOW SECTION STYLES */